*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none !important;
    color: currentColor !important;
}

/*[class^='col']{
    padding: 10px;
    border: 2px solid black;
}

main [class*='col']:not(.row)::before,
footer [class*='col']:not(.row)::before {
	content: 'content';
	display: block;
	border: 2px solid currentColor;
	border-radius: 5px;
	padding: 30px;
}*/

.container__sm{
    max-width: 975px !important;
    margin: 0auto !important;
}

.container__lg{
    max-width: 1143px !important;
    margin: 0auto !important;
}

/*****************/

.main-header{
    background-color: #2C3E50;
    color: white;
    text-size-adjust: capitalize;
}

.nav-list{
    display: flex;
    gap: 30px;
}

.hero{
    padding: 70px 0;
    background-color: #1ABC9C;
    color: white;
}

.avatar{
    width: 228px;
}

.star{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    height: 3px;
    background-color: white;
    width: 10%;
}

.icon__star{
    padding: 0 15px;
    font-size: 25px;
}

.hero .subtitle{
    font-size: 20px;
}

.hero .title{
    font-size: 60px;
}

/*****************/

.portfolio{
    padding: 70px 0;
}

.portfolio .line{
    background-color: black;
}

.portfolio .title{
    font-size: 45px;
}

.portfolio img{
    border-radius: 20px
}

/*****************/

.about{
    padding: 70px 0;
    background-color: #1ABC9C;
    color: white;
}

.about .title{
    font-size: 45px;
}

.about .description{
    font-size: 20px;
}

.about .button{
    color: currentColor;
}

.download{
    padding-right: 5px;
}

/*****************/

.contact{
    padding: 70px 0;
}

.contact .line{
    background-color: black;
}

.contact .title{
    font-size: 45px;
}


/*****************/

.info{
    padding: 70px 0;
    background-color: #3A546D;
}

.copyright{
    padding: 70px 0;
    background-color: #2C3E50;
}